@import "./_variable.scss";

.table-btn.earnings {
  button {
    background-color: $primary-color;
    padding: 5px 10px;
    border: 1px solid transparent;
    color: white;
    outline: none;
    font-weight: bold;
    transition: 0.3s;
    &:hover {
      background-color: $primary-color-dark;
      box-shadow: 0px 4px 7px 2px #00000030;
    }
    &:focus {
      border: 1px solid $primary-color-dark;
    }
  }
}

.table-btn.expenses {
  button {
    background-color: $secondary-color;
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    &:hover {
      background-color: $secondary-color-dark;
      box-shadow: 0px 4px 7px 2px #00000030;
    }
    &:focus {
      border: 1px solid $secondary-color-dark;
    }
  }
}

.table.earnings .budgetBtn {
  background-color: $primary-color;
  transition: 0.3s;

  &:hover {
    background-color: $primary-color-dark;
    box-shadow: 0px 4px 7px 2px #00000030;
  }
}
.table.expenses .budgetBtn {
  background-color: $secondary-color;
  transition: 0.3s;
  &:hover {
    background-color: $secondary-color-dark;
    box-shadow: 0px 4px 7px 2px #00000030;
  }
}

.budgetBtn {
  position: absolute;
  top: 22%;
  left: -60px;
  width: auto;
  height: auto;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.editFormBtn {
  // background-color: #4e4d50;
  background-color: rgb(116, 116, 116);
  color: white;
  font-family: $main-font;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  outline: none;
  &:hover {
    background-color: #171920;
    box-shadow: 0px 4px 7px 2px #00000030;
  }
  &:focus {
    border: 1px solid $secondary-color;
  }
}

.addTransaction {
  width: 150px;
  padding: 5px 10px;
}

.delete-transaction {
  position: absolute;
  left: -35px;
}
