@import "./_variable.scss";

.content {
  padding-top: 50px;

  h1 {
    text-align: center;
  }
}
.budget-month {
  text-align: center;
  font-size: 22px;
  font-family: $main-font;

  span {
    padding-right: 10px;
    font-size: inherit;
    font-size: 22px;
  }

  select {
    padding-left: 3px;
    width: auto;
    outline: $secondary-color-dark;
    // font-size: inherit;
    background-color: white;
  }
}
