@import "./_variable.scss";

.content {
  padding-top: 50px;

  h1 {
    text-align: center;
  }
}
.budget-month {
  margin: 50px 0;
  text-align: center;
  font-size: 22px;
  font-family: $main-font;

  span {
    padding-right: 10px;
    font-size: inherit;
    font-size: 22px;
  }

  select {
    padding-left: 5px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid $secondary-color-dark;
    width: auto;
    outline: none;
    font-family: inherit;
    background-color: white;
    font-size: 22px;
    color: $secondary-color-dark;
    &:focus {
      border: 1px solid $secondary-color;
    }

    option {
      font-size: 13px;
      color: black;
    }
  }
}
