@import "./_variable.scss";

.table {
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto auto auto;
  position: relative;
}
.table-name {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 15px;
}

.table-header {
  display: grid;
  grid-template-columns: 25% 17% 17% 16% 25%;
  grid-template-rows: 50px;
  grid-column-start: 1;
  grid-column-end: 6;
}

.earnings .table-header-cell {
  background-color: $primary-color;
}
.expenses .table-header-cell {
  background-color: $secondary-color;
}

.summary .table-header-cell {
  background-color: #fb3b64;
}

.table-header-cell {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
}

.table-row-cell:nth-of-type(4) {
  background-color: #f7f7f7;
}

.table-row-cell:nth-of-type(2) {
  color: $primary-color-dark;
  font-weight: bold;
}
.table-row-cell:nth-of-type(3) {
  color: $secondary-color-dark;
  background-color: #f7f7f7;
  font-weight: bold;
}
.table-row {
  display: grid;
  grid-template-columns: 25% 17% 17% 16% 25%;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 6;
  position: relative;
}

.category-btn {
  grid-column-start: 1;
  grid-column-end: 2;
}
.row-content {
  grid-column-start: 1;
  grid-column-end: 6;
}
.table-row-cell {
  text-align: center;
  padding: 10px 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid $grid-color;
  border-bottom: 1px solid $grid-color;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.table-row-cell.special {
  grid-column-start: 3;
  grid-column-end: 4;
  color: purple;
  font-weight: bold;
}

.table-row-cell.comment {
  text-align: left;
  padding: 5px 10px;
  resize: none;
  overflow: auto;
  height: auto;
  // background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
}

.earnings input:focus,
.earnings textarea:focus {
  border: 1px solid $primary-color;
}

.expenses input:focus,
.expenses textarea:focus {
  border: 1px solid $secondary-color;
}

.table.summary {
  margin-bottom: 200px;
}
.summary .table-row-cell {
  border-bottom: 2px solid $grid-color;
  border-top: none;
}

.table-row-cell.empty {
  background-color: white;
}

//transactions

.table-transactions-header {
  display: grid;
  grid-template-columns: 15% 20% 20% 25%;
  grid-template-rows: 50px;
  margin-top: 20px;
  // grid-column-start: 1;
  // grid-column-end: 5;

  input,
  select,
  option {
    padding: 10px 0;
    text-align: center;
    background-color: $secondary-color;
    color: white;
    font-family: $main-font;
    font-weight: bold;
    font-size: 16px;
    border: none;
  }
  select {
    padding-left: 15px;
  }
}

.table-transaction-row {
  display: grid;
  grid-template-columns: 15% 20% 20% 25%;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  position: relative;
}
.table-transaction-cell {
  text-align: center;
  padding: 10px 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid $grid-color;
  border-bottom: 1px solid $grid-color;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.table-transaction-cell.comment {
  text-align: left;
  padding-left: 10px;
  // padding: 10px 0 10px 10px;
  resize: none;
  overflow: auto;
  font-family: "Lato", sans-serif;
}

input[type="date"] {
  font-size: 14px;
  padding: 0;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  // color: #2c3e50;
  color: $secondary-color-dark;
}

select.table-transaction-cell {
  padding-left: 15px;
  background-color: #e0dddd;
}

select.table-transaction-cell::-ms-expand {
  color: $secondary-color-dark;
}
