header {
  width: 100vw;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 30px;
  padding-bottom: 10px;
}

.transaction-title {
  padding: 50px 0 15px 0;
  grid-column-start: 1;
  grid-column-end: 3;
}
.transaction-subtitle {
  margin-bottom: 15px;
  grid-column-start: 1;
  grid-column-end: 3;
}
// .freeze-table-header {
//   // position: fixed;
//   // top: 25px;
//   // z-index: 1;
//   background-color: white;
// }
